
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-reddit-squared:before { content: '\f1a2'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */